* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../images/background-image.jpg");
    background-repeat: repeat;   
    font-family: 'Bangers', cursive;
}

p {
    text-indent: 30px;
}

h1 {
    font-family: 'Bangers', cursive;
}

.navBarStyle {
    background-color: white;
    margin-top: 25px;
    height: 75px;
    width: 100%;
    border-bottom: 1px, solid black;
    z-index: 1;
      
}

.nameTitle {
    background-color: teal;
    width: 273.6px;
    line-height: 75px;
    text-align: center;
    margin-left: 240px;
    color: white;
    float: left;
    font-family: 'Bangers', cursive;

}
 
.navButtons {
    
  
    width: 240px;
    float: right;
    margin-right: 30px;
    border-bottom: 1px, solid, black;
    text-align: right;
    z-index: 2;
    font-family: 'Bangers', cursive;

}

   

.button1, .button2, .button3 {
    padding: 10px;
    
}

.button1, .button2 {
    border-right: solid;
    border-color: #cccccc;
    border-width: 2px;
}

#profilePicture {
    float: left;
    margin-top: 40px;
    padding: 30px;
}

.aboutMeHeader {
    text-align: center;
    margin-left: 20px;
    line-height: 75px;
    color: black;
    font-family: 'Bangers', cursive;

}

.aboutMe {
    margin-top: 150px;
    background-color: #ffffff;
    width: 960px;
    margin-left: 240px;
    margin-bottom: 40px;
    border: 2px, solid, #dddddd;    
}

.lineBelowAboutMe {
    
    margin-left: 50px;
    margin-right: 50px;
    background-color: #cccccc;
    width: 860px;
    height: 2px;  
}

.bioText {
    
    line-height: 40px;
    padding: 50px;
    color: #777777;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    line-height: 50px;
    border-top: 8px solid black;
    text-align: center;
    color: gray;

}

#resume {
    margin-right: auto;
    margin-left: auto;

}

.contactBox {
    margin-top: 25px;
    background-color: #ffffff;
    width: 890px;
    margin-bottom: 85px;
    border: 2px, solid, #dddddd; 
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;  
       
}

label {
    line-height: 40px;
}

#nameBox {
    line-height: 20px;
    width: 900px;
}

#emailBox {
    line-height: 20px;
    width: 900px;
}

#messageBox {
    line-height: 200px;
    width: 900px;
    
    
}

.submitButton {
    margin-top: 9px;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: gray; 
    margin-left: 0px;
    padding: 15px;
}

.submitButton:link { color: white; }    
.submitButton:visited { color: white; }
.submitButton:hover { color: black; }
.submitButton:active { color: #666666; }

input {
    
    font-size: 18px;
}

.portfolioBox {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7 {
    
    margin: 10px;
    width: 250px;
    height: 180px;
}

 #box1 {
    background-image: url("../images/box1.png");

 }

 #box1 a:link, #box2 a:link, #box3 a:link, #box4 a:link, #box5 a:link, #box6 a:link, #box7 a:link {
     color: black;  
     text-decoration: none;
 }

 #box1 a:active, #box2 a:active, #box3 a:active, #box4 a:active, #box5 a:active, #box6 a:active, #box7 a:active  {
     color:black;
     text-decoration: none;
 }

 #box1 a:visited,  #box2 a:visited,  #box3 a:visited,  #box4 a:visited,  #box5 a:visited, #box6 a:visited, #box7 a:visited {
    color: black;
    text-decoration: none;
 }
 #box1 a:hover, #box2 a:hover, #box3 a:hover, #box4 a:hover, #box5 a:hover, #box6 a:hover, #box7 a:hover {
     color: lightgray;
     text-decoration: underline;
 }

 #box2 {
    background-image: url("../images/box2.jpeg");
 }

 #box3 {
    background-image: url("../images/box3.jpg");
 }

 #box4 {
    background-image: url("../images/box4.png");
 }

 #box5 {
    background-image: url("../images/box5.png");
 }

 #box6 {
    background-image: url("../images/box6.png");
 }

 #box7 {
     background-image: url("../images/box7.png")

 }

.boxBanner1 {
    width: 250px;
    height: 50px;
    margin-top: 125px;
    text-align: center;
    line-height: 50px;
    font-size: 42px;
    font-family: 'Bangers', cursive;
    font-weight: bold;

}

.boxBanner2 {
    width: 250px;
    height: 50px;
    margin-top: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    background-color: white

}


.social {
    border-right: solid;
    padding: 5px;
}


.nav-item {
    text-align: center;
    width: 100px;
}


@media screen and (max-width: 980px) {



    .nameTitle {
        margin-left: 50px;
    
    }

    .navButtons {
        margin-right: 100px;
    }

    .aboutMe {

        width: 600px;
        margin-left: 50px;
    }

    .lineBelowAboutMe {
        width: 500px;


    }

    .contactBox {
        max-width:100%;
        max-height:100%;
        margin-right: auto;
    }

    #nameBox {
        width: 500px;
    }

    #emailBox {
        width: 500px;
    }

    #messageBox {
        width: 500px;
    }


}





@media screen and (max-width: 768px) {

  
    .nameTitle {
        margin-left: 50px;
      
    }

    .navButtons {
        margin-right: 50px;
    }

    .aboutMe {

        width: 550px;
        margin-left: 50px;
    }

    .lineBelowAboutMe {
        width: 450px;


    }

    .contactBox {
        width: 450px;
    }

    #nameBox {
        width: 450px;
    }

    #emailBox {
        width: 450px;
    }

    #messageBox {
        width: 450px;
    }


    #profilePicture {
        width: 300px;
        height: 202px;
        
    }



}


@media only screen and (max-width:640px) {

    .nameTitle {
    
        width: 100%;
        margin-left: 0px;

    }


    .navButtons {
        margin-top: 0px;
        margin-right: 0px;
        width: 100%;     
        background-color: white;
        clear: both;
        text-align: center;
    }

    .aboutMe {

        width: 90%;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .lineBelowAboutMe {
        width: 75%;


    }

    .contactBox {
        width: 80%;
    }

    #nameBox {
        width: 100%;
    }

    #emailBox {
        width: 100%;
    }

    #messageBox {
        width: 100%;
    }


    #profilePicture {
        width: 350px;
        height: 235px;;
        padding: 20px;
        
        
        
    }

    .portfolioBox {
        width: 100%;
        float: auto;
        margin-top: 10px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7 {
    
        padding: 10px;
        width: 250px;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
    
    }

}


.newButton {
    margin-right: auto;
    margin-left: auto;
}

